<%- include('../partials/html-head') %>
	<link rel="stylesheet" href="/stylesheets/flights/new.css">
	<%- include('../partials/nav') %>

		<main>
			<h1>
				<%= title %>
			</h1>
			<form id="new-form" action="/flights" method="POST">
				<!-- Airline Selection -->
				<label for="airline">Airline:</label>
				<select id="airline" name="airline" required>
					<option value="American">American</option>
					<option value="Southwest">Southwest</option>
					<option value="United">United</option>
				</select>
				<br><br>

				<!-- Airport Selection -->
				<label for="airport">Airport:</label>
				<select id="airport" name="airport" required>
					<option value="AUS">AUS</option>
					<option value="DFW">DFW</option>
					<option value="DEN" selected>DEN (Default)</option>
					<option value="LAX">LAX</option>
					<option value="SAN">SAN</option>
				</select>
				<br><br>

				<!-- Flight Number Input -->
				<label for="flightNo">Flight Number:</label>
				<input type="number" id="flightNo" name="flightNo" min="10" max="9999">
				<br><br>

				<!-- Departure Date & Time Input -->
				<label for="departure">Departure Date & Time:</label>
				<input type="datetime-local" id="departure" name="departure" required>
				<br><br>

				<input type="submit" value="Submit">
			</form>
		</main>

		<%- include('../partials/footer') %>